:root {
    --background-color: #2F4858;
    --primary-color: #F9BB1E;
    --text-color: #f0f0f0;
}

/* Global */

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Figtree;
    height: 100%;
    margin: 0;
}

button {
    background-color: var(--text-color);
    border: none;
    color: var(--background-color);
    font-family: inherit;
    font-weight: bold;
    padding: 15px 30px;
    transition: background-color 0.3s ease;
    border-radius: 6px;
}

button:hover:not(:disabled) {
    background-color: var(--primary-color);
}

button:disabled {
    background-color: black;
    color: var(--text-color);
}

/* Classes */

.title {
    color: var(--primary-color);
}

.center-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.locked {
    pointer-events: none;
}

.active-page {
    background-color: var(--primary-color);
    color: var(--background-color)
}

.page-wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* Navigation Bar */

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

#website-title {
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
}

ul {
    display: flex;
    list-style: none;
}

ul li {
    margin-right: 20px;
}

ul li:last-child {
    margin-right: 0;
}

ul li a {
    color: inherit;
    display: inline-block;
    text-decoration: none;
    border-radius: 6px;
    padding: 8px 12px;
    transition: background-color 0.3s ease, color 0.3 ease;
    font-weight: bold;
}

ul li a:hover {
    color: var(--primary-color);
    transition: color 0.3s ease;
    background-color: rgba(249, 187, 30, 0.2);
}

/* Footer */

footer {
    font-size: 0.9rem;
    padding: 1rem;
}

/* Home */

#home {
    height: 85vh;
}

#home h1 {
    margin-bottom: 10px;
}

#home p {
    margin-top: 0px;
}

#home button {
    margin-top: 30px;
}

/* Learn */

#learn-page button {
    margin-bottom: 20px;
}

#progress {
    width: 80%;
    background-color: #000000;
    border-radius: 10px;
    margin: 20px auto;
    height: 20px;
    overflow: hidden;
    position: relative;
}

#progress-bar {
    height: 100%;
    width: 0%;
    background-color: var(--primary-color);
    transition: width 0.5s ease;
    color: var(--background-color);
}

#progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.8rem;
    font-weight: bold;
    pointer-events: none;
}

/* Lesson: Email */

#lesson {
    display: flex;
    gap: 20px;
    padding: 20px;
}

#email {
    flex: 7;
    background-color: #ffffff;
    color: #000000;
    padding: 20px;
    box-shadow: 0 2px 8px rgba(0,0,0,1);
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 6px;
}

#email-title {
    font-size: 24px;
    font-weight: normal;
    margin: 0 0 12px 0;
    /*border-bottom: 1px solid #ddd;
    margin-bottom: 8px;
    padding-bottom: 4px;*/
}

#email-info {
    align-items: center;
    display: flex;
    gap: 10px;
    color: #555;
    flex-wrap: wrap;
    margin-bottom: 20px;
}

#email-info p {
    margin: 0;
}

#email-info p:first-child {
    font-weight: bold;
}

#email-content {
    padding-top: 10px;
    /*margin-top: 0px;*/
    line-height: 1.6;
}

/* Lesson: Information */

#info {
    flex: 3;
}

#info-intro {
    text-align: center;
}

#lesson-number {
    margin-bottom: 0px;
}

#lesson-title {
    margin-top: 2px;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

#result-message {
    font-weight: bold;
    margin: 10px;
}

#next-btn {
    display: none;
    margin: 10px;
}

/* Settings */

#settings-page h2 {
    margin-bottom: 10px;
}

#settings-page p {
    margin-bottom: 20px;
    margin-top: 0px;
}

#settings-page button {
    margin-bottom: 20px;
}