:root {
    --background-color: #2F4858;
    --primary-color: #F9BB1E;
    --text-color: #f0f0f0;
}

/* Global */

body {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Figtree;
    height: 100%;
    margin: 0;
}

button {
    background-color: var(--text-color);
    border: none;
    color: var(--background-color);
    font-family: inherit;
    font-weight: bold;
    padding: 15px 30px;
    transition: background-color 0.3s ease;
}

button:hover:not(:disabled) {
    background-color: var(--primary-color);
}

button:disabled {
    background-color: black;
    color: var(--text-color);
}

/* Classes */

.title {
    color: var(--primary-color);
}

.center-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.locked {
    pointer-events: none;
}

.active-page {
    color: var(--primary-color)
}

.page-wrapper {
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/* Navigation Bar */

header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

#website-title {
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
}

ul {
    display: flex;
    list-style: none;
}

ul li {
    margin-right: 20px;
}

ul li:last-child {
    margin-right: 0;
}

ul li a {
    color: inherit;
    display: inline-block;
    text-decoration: none;
}

ul li a:hover {
    color: var(--primary-color);
    transition: color 0.3s ease;
}

/* Footer */

footer {
    font-size: 0.9rem;
    padding: 1rem;
}

/* Home */

#home {
    height: 85vh;
}

#home h1 {
    margin-bottom: 10px;
}

#home p {
    margin-top: 0px;
}

#home button {
    margin-top: 30px;
}

/* Learn */

#learn-page button {
    margin-bottom: 20px;
}

/* Lesson: Email */

#lesson {
    display: flex;
    gap: 20px;
    padding: 20px;
}

#email {
    flex: 7;
}

#email-title {
    font-size: 24px;
    font-weight: bold;
}

#email-info {
    align-items: center;
    display: flex;
    gap: 10px;
}

#email-info p {
    margin: 0;
}

#email-info p:first-child {
    font-weight: bold;
}

#email-content {
    margin-top: 50px;
}

/* Lesson: Information */

#info {
    flex: 3;
}

#info-intro {
    text-align: center;
}

#lesson-number {
    margin-bottom: 0px;
}

#lesson-title {
    margin-top: 2px;
}

#buttons {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

#result-message {
    font-weight: bold;
    margin: 10px;
}

#next-btn {
    display: none;
    margin: 10px;
}

/* Settings */

#settings-page h2 {
    margin-bottom: 10px;
}

#settings-page p {
    margin-bottom: 20px;
    margin-top: 0px;
}

#settings-page button {
    margin-bottom: 20px;
}