/*
This Source Code Form is subject to the terms of the Mozilla Public License, v. 2.0.
See LICENSE-CODE in the project root for details.
*/
.theme-default {
    /* Website */
    --primary-color: #F9BB1E;
    --text-color: #f0f0f0;
    --background-color: #2F4858;
    --background-image: none;
    --font: Figtree;

    /* Website Supplements */
    --primary-color-transparent: rgba(249, 187, 30, 0.2);
    --button-inside-shadow: rgba(0,0,0,0.3);
    --bar-background: #000000;
    --glass: rgba(255,255,255,0.3);

    /* Email */
    --email-text-color: #000000;
    --email-info-color: #555;
    --link-text-color: #007bff;
    --email-background-color: #ffffff;

    /* Email Supplements */
    --email-shadow: rgba(0,0,0,1); /* Shadow outside of email */
}

.theme-dark {
    /* Website */
    --primary-color: #F9BB1E;
    --text-color: #f0f0f0;
    --background-color: #1a1a1a;
    --background-image: none;
    --font: Figtree;

    /* Website Supplements */
    --primary-color-transparent: rgba(249, 187, 30, 0.2);
    --button-inside-shadow: rgba(0,0,0,0.3);
    --bar-background: #000000;
    --glass: rgba(255,255,255,0.3);

    /* Email */
    --email-text-color: #000000;
    --email-info-color: #555;
    --link-text-color: #007bff;
    --email-background-color: #ffffff;

    /* Email Supplements */
    --email-shadow: rgba(0,0,0,1); /* Shadow outside of email */
}

.theme-halloween {
    /* Website */
    --primary-color: #f97d1e;
    --text-color: #f0f0f0;
    --background-color: #1b1412;
    --background-image: none;
    --font: Figtree;

    /* Website Supplements */
    --primary-color-transparent: rgba(249, 187, 30, 0.2);
    --button-inside-shadow: rgba(0,0,0,0.3);
    --bar-background: #000000;
    --glass: rgba(255,255,255,0.3);

    /* Email */
    --email-text-color: #000000;
    --email-info-color: #555;
    --link-text-color: #007bff;
    --email-background-color: #ffffff;

    /* Email Supplements */
    --email-shadow: rgba(0,0,0,1); /* Shadow outside of email */
}

.theme-halloween img {
    filter: brightness(0.8) hue-rotate(-15deg) saturate(1.5);
}

.theme-ocean {
    /* Website */
    --primary-color: #F9BB1E;
    --text-color: #f0f0f0;
    --background-color: #010204;
    --background-image: url('../external_assets/jeremy-bishop-G9i_plbfDgk-unsplash.jpg');
    --font: Figtree;

    /* Website Supplements */
    --primary-color-transparent: rgba(249, 187, 30, 0.2);
    --button-inside-shadow: rgba(0,0,0,0.3);
    --bar-background: #000000;
    --glass: rgba(255,255,255,0.3);

    /* Email */
    --email-text-color: #000000;
    --email-info-color: #555;
    --link-text-color: #007bff;
    --email-background-color: #ffffff;

    /* Email Supplements */
    --email-shadow: rgba(0,0,0,1); /* Shadow outside of email */
}

.theme-secret {
    /* Website */
    --primary-color: #30f91e;
    --text-color: #f0f0f0;
    --background-color: #000000;
    --background-image: none;
    --font: "Courier New", Courier;

    /* Website Supplements */
    --primary-color-transparent: rgba(99, 249, 30, 0.2);
    --button-inside-shadow: rgba(0,0,0,0.3);
    --bar-background: #000000;
    --glass: rgba(255,255,255,0.3);

    /* Email */
    --email-text-color: #000000;
    --email-info-color: #555;
    --link-text-color: #007bff;
    --email-background-color: #ffffff;

    /* Email Supplements */
    --email-shadow: rgba(0,0,0,1); /* Shadow outside of email */
}





.theme-light {
    /* Website */
    --primary-color: #684C03;
    --text-color: #2F4858;
    --background-color: #f0f0f0;
    --background-image: none;
    --font: Figtree;

    /* Website Supplements */
    --primary-color-transparent: rgba(249, 187, 30, 0.2);
    --button-inside-shadow: rgba(0,0,0,0.3);
    --bar-background: #ffffff;
    --glass: rgba(255,255,255,0.3);

    /* Email */
    --email-text-color: #000000;
    --email-info-color: #555;
    --link-text-color: #007bff;
    --email-background-color: #ffffff;

    /* Email Supplements */
    --email-shadow: rgba(0,0,0,1); /* Shadow outside of email */
}

.theme-light img {
    filter: brightness(0.7);
}








.theme-monochrome {
    /* Website */
    --primary-color: #a1a1a1;
    --text-color: #f0f0f0;
    --background-color: #1a1a1a;
    --background-image: none;
    --font: Figtree;

    /* Website Supplements */
    --primary-color-transparent: rgba(232, 232, 232, 0.2);
    --button-inside-shadow: rgba(0,0,0,0.3);
    --bar-background: #000000;
    --glass: rgba(255,255,255,0.3);

    /* Email */
    --email-text-color: #000000;
    --email-info-color: #555;
    --link-text-color: #007bff;
    --email-background-color: #ffffff;

    /* Email Supplements */
    --email-shadow: rgba(0,0,0,1); /* Shadow outside of email */
}

.theme-monochrome img {
    filter: saturate(0);
}








.theme-memphis {
    /* Website */
    --primary-color: #F9BB1E;
    --text-color: #f0f0f0;
    --background-color: #010204;
    --background-image: url('../external_assets/6916579_Motion_Graphics_Motion_Graphic_1920x1080.gif');
    --font: Figtree;

    /* Website Supplements */
    --primary-color-transparent: rgba(249, 187, 30, 0.2);
    --button-inside-shadow: rgba(0,0,0,0.3);
    --bar-background: #000000;
    --glass: rgba(255,255,255,0.3);

    /* Email */
    --email-text-color: #000000;
    --email-info-color: #555;
    --link-text-color: #007bff;
    --email-background-color: #ffffff;

    /* Email Supplements */
    --email-shadow: rgba(0,0,0,1); /* Shadow outside of email */
}






.theme-midnight {
    /* Website */
    --primary-color: #F9BB1E;
    --text-color: #f0f0f0;
    --background-color: #000000;
    --background-image: none;
    --font: Figtree;

    /* Website Supplements */
    --primary-color-transparent: rgba(249, 187, 30, 0.2);
    --button-inside-shadow: rgba(0,0,0,0.3);
    --bar-background: #000000;
    --glass: rgba(255,255,255,0.3);

    /* Email */
    --email-text-color: #000000;
    --email-info-color: #555;
    --link-text-color: #007bff;
    --email-background-color: #ffffff;

    /* Email Supplements */
    --email-shadow: rgba(0,0,0,1); /* Shadow outside of email */
}